body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box; /* Evita que el padding afecte al ancho */
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

@media only screen and (min-width: 600px) {
    /* Aplicar estilos adicionales para pantallas más grandes si es necesario */
    .container {
        max-width: 800px;
    }
}
